<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="JsonExSerializer" type="JsonExSerializer.XmlConfigSection, JsonExSerializer"/>
  </configSections>

  <JsonExSerializer>
    <IsCompact>false</IsCompact>
    <OutputTypeComment>false</OutputTypeComment>
    <OutputTypeInformation>false</OutputTypeInformation>
  </JsonExSerializer>
  
  
  
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>




</configuration>
